.Apod {
    flex-direction: column;
    display: flex;
    background: whitesmoke;
    border: 1px solid #cacaca;
    box-shadow: 0px 0px 6px 2px lightgrey;
}

.Apod p {
    padding: 0 30px;
}

.date-info {
    font-size: 90%;
    color: whitesmoke;
}

input {
        font-size: 1.4em!important;
        padding: 0px 10px;
        border-radius: 10px;
        margin-bottom: 10px!important;
        text-align: center;
}